header{
    font-size: 28px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f18973;

}

#search-row {
    margin-bottom: 50px;
}


#singer-form{
    
    margin-top: 50px;
    border: solid;
    padding: 7px;
}

#addSinger {
    margin-top: 10px;
}